<h1>トラック侍</h1>
<h3>企業詳細</h3>
<div class="logistic">
  <p><%= @logistic.company %></p>
  <p>  <%= @logistic.basic_info %></p>
  <p> <%= @logistic.url %></p>
  <p>  <%= @logistic.content %></p>
  <p> <%= image_tag @logistic.image_url, size: "250x200" if @logistic.image? %></p>
  <p> <%= @logistic.rating %></p>
  <p><%= @logistic.created_at %></p>
</div>
<% if user_signed_in? %>
  <% if current_user == @user || current_user.admin? %>
    <%= link_to "編集する", edit_logistic_path(@logistic.id) %>
    <%= button_to "削除する", logistic_path(@logistic.id), method: :delete %>
  <% end %>
<% end %>
<%= link_to "Logistic一覧に戻る", logistics_path %>

<link rel="stylesheet" href="show.css">