<!DOCTYPE html>
<html>
  <head>
    <title>Geeklogistics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap" rel="stylesheet">

    </head>

  <body>
  <% if user_signed_in? %>
  <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "ログイン", logistics_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  <% end %>
    <%= yield %>
  </body>
</html>
